

.button{
    position: relative;
    overflow: hidden;
    transition: all ease 0.7s;
}

.button::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: rgba(136, 102, 27, 0.4);
    z-index: 1;
    top: 10;
    left: -80px;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
}

.button:hover::before {
    background-color:#110549;
    left: 70px;
    opacity: 0.6;
}